@font-face {
    font-family: 'ElanFont2';
    src: url('../assets/fonts/HurmeGeometricSans2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElanFont2Bold';
    src: url('../assets/fonts/HurmeGeometricSans2_SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElanFont4';
    src: url('../assets/fonts/HurmeGeometricSans4.woff2') format('woff2');
}
