APP_NAME=${PROJECT_SLUG}
APP_ENV=local
APP_URL=
APP_DEBUG=true
APP_KEY=

LOG_CHANNEL=single

DB_CONNECTION=mysql
DB_HOST=${PROJECT_SLUG}
DB_PORT=3306
DB_DATABASE=${PROJECT_SLUG}
DB_USERNAME=${PROJECT_SLUG}
DB_PASSWORD=${PROJECT_SLUG}_db_password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
